@import '../../styles/imports';

.taskItem {
    width: 100%;
    background-color: var(--clrSecondary);
    color: var(--clrAccent-60);
    max-width: 520px;
    padding: 8px 16px;
    border: 1px solid var(--clrTertiary);
    border-radius: $borderRadiusNormal;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12);
    @include displayFlex(column, flex-start, center, 4px);
    
    .taskTime {
        font-size: $fontSizeSmall;
        opacity: 0.5;
    }

    .task {
        @include displayFlex(row, center, flex-start, 8px);
        width: 100%;

        .completionState {
            min-width: 18px;
            min-height: 18px;
            width: 18px;
            height: 18px;
            border: 2px solid var(--clrAccent-30);
            border-radius: $borderRadiusSmall;
            cursor: pointer;
            @include displayFlex(row, center, center, 0px);
            transition: all 150ms ease-in-out;

            &.completed {
                background-color: var(--clrAccent-30);
            }
        }

        .taskDescription {
            font-size: $fontSizeBase;
            width: 100%;
            word-break: break-word;
            overflow-wrap: break-word;
            hyphens: auto;

            &.completed {
                text-decoration: line-through;
            }
        }
        
        .taskOptions {
            @include displayFlex(row, center, center, 4px);

            .flagIcon,
            .deleteIcon,
            .urgencyIcon {
                width: 32px;
                height: 32px;
                font-size: 20px;
                cursor: pointer;
                border-radius: $borderRadiusSmall;
                @include displayFlex(row, center, center, 0px);
                transition: background-color 150ms ease-in-out;
                user-select: none;
                color: var(--clrAccent-30);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                svg {
                    height: 24px;
                    width: 24px;
                    color: var(--clrAccent-30);
                }

                &.flagged {
                    svg {
                        color: $clrWarning;
                    }
                }
                
                &.mediumUrgency {
                    color: $clrWarning;
                }

                &.highUrgency {
                    color: $clrError-100;
                    text-shadow: 0px 0px 15px $clrError-100;
                }
            }
        }
    }
}