@import '../../styles/imports';

.taskItem {
    width: 100%;
    background-color: var(--clrSecondary);
    color: var(--clrAccent-100);
    max-width: 520px;
    padding: 8px 16px;
    border: 1px solid var(--clrTertiary);
    border-radius: $borderRadiusNormal;
    // box-shadow: 0 4px 0 var(--clrTertiary);
    @include displayFlex(column, flex-start, center, 4px);
    transition: all 200ms ease-in-out;

    @media (max-width: $mobile) {
        border-radius: $borderRadiusSmall;
    }
    &:hover {
        @media (min-width: $mobile) {
            box-shadow: 0 2px 0 var(--clrTertiary);
        }
    }
    
    .taskTime {
        font-size: $fontSizeSmall;
        color: var(--clrAccent-60);
        opacity: 0.6;
    }

    .task {
        @include displayFlex(row, center, flex-start, 8px);
        width: 100%;

        .completionState {
            min-width: 18px;
            min-height: 18px;
            width: 18px;
            height: 18px;
            border: 2px solid var(--clrAccent-60);
            border-radius: $borderRadiusSmall;
            cursor: pointer;
            @include displayFlex(row, center, center, 0px);
            transition: all 150ms ease-in-out;

            &.completed {
                background-color: var(--clrAccent-60);
            }
        }

        .taskDescription {
            font-size: $fontSizeBase;
            width: 100%;
            word-break: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
            cursor: pointer;

            &.completed {
                text-decoration: line-through;
            }
        }
        
        .taskOptions {
            @include displayFlex(row, center, center, 4px);

            .flagIcon,
            .deleteIcon,
            .urgencyIcon {
                width: 32px;
                height: 32px;
                font-size: 20px;
                cursor: pointer;
                border-radius: $borderRadiusSmall;
                @include displayFlex(row, center, center, 0px);
                transition: background-color 150ms ease-in-out;
                user-select: none;
                color: var(--clrAccent-60);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                svg {
                    height: 24px;
                    width: 24px;
                    color: var(--clrAccent-60);
                }

                &.flagged {
                    svg {
                        color: $clrWarning;
                    }
                }
                
                &.mediumUrgency {
                    color: $clrWarning;
                }

                &.highUrgency {
                    color: $clrError-100;
                    text-shadow: 0px 0px 15px $clrError-100;
                }
            }
        }
    }

    .subTaskInputCont {
        width: 100%;
        @include displayFlex(row, center, center, 8px);
        padding: 8px 0;

        .subTaskInput {
            width: 100%;
            background-color: var(--clrPrimary);
            border: none;
            padding: 12px 8px;
            font-size: 16px;
            border-radius: $borderRadiusNormal;
            outline: none;
            color: var(--clrAccent-60);

            &::placeholder {
                color: var(--clrAccent-60);
            }
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            border-radius: $borderRadiusSmall;
            padding: 4px;

            svg {
                color: var(--clrAccent-60);
            }
        }
    }

    .inputToggle {
        width: 100%;
        @include displayFlex(row, center, center, 0);
        padding: 4px 0;
        cursor: pointer;

        .toggle {
            width: 64px;
            height: 2px; 
            border-radius: $borderRadiusNormal;
            background-color: var(--clrAccent-60);
            transition: all 200ms ease-in-out;
        }

        &:hover {
            .toggle {
                @media (min-width: $mobile) {
                    width: 50%;
                }
            }
        }
    }
}