@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
html {
  color-scheme: light dark auto;
}

.themeLight {
  --clrPrimary: #EFEFEF;
  --clrSecondary: #FFF;
  --clrTertiary: #f1f1f1;
  --clrAccent-100: #000;
  --clrAccent-60: rgba(0, 0, 0, 0.6);
  --clrAccent-30: rgba(0, 0, 0, 0.3);
  --clrAccent-10: rgba(0, 0, 0, 0.1);
}

.themeDark {
  --clrPrimary: #0A0A0A;
  --clrSecondary: #111;
  --clrTertiary: #333;
  --clrAccent-100: #FFFFFF;
  --clrAccent-60: rgba(198, 198, 198, 0.6);
  --clrAccent-30: rgba(145, 145, 145, 0.3);
  --clrAccent-10: rgba(255, 255, 255, 0.1);
}

.themePurple {
  --clrPrimary: #9a26ea;
  --clrSecondary: #45347e;
  --clrTertiary: #be6aef;
  --clrAccent-100: #000;
  --clrAccent-60: rgba(198, 198, 198, 0.6);
  --clrAccent-30: rgba(0, 0, 0, 0.3);
  --clrAccent-10: rgba(0, 0, 0, 0.1);
}

:root {
  --clrPrimary: #EFEFEF;
  --clrSecondary: #FFF;
  --clrTertiary: #f1f1f1;
  --clrAccent-100: #FFFFFF;
  --clrAccent-60: rgba(198, 198, 198, 0.6);
  --clrAccent-30: rgba(145, 145, 145, 0.3);
  --clrAccent-10: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: light) {
  :root {
    --clrAccent-100: #000;
    --clrAccent-60: rgba(0, 0, 0, 0.6);
    --clrAccent-30: rgba(0, 0, 0, 0.3);
    --clrAccent-10: rgba(0, 0, 0, 0.1);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --clrPrimary: #0A0A0A;
    --clrSecondary: #111;
    --clrTertiary: #333;
    --clrAccent-100: #FFFFFF;
    --clrAccent-60: rgba(198, 198, 198, 0.6);
    --clrAccent-30: rgba(145, 145, 145, 0.3);
    --clrAccent-10: rgba(255, 255, 255, 0.1);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-down {
  100% {
    -webkit-transform: translateY(100%);
  }
  0% {
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-up-drawer {
  0% {
    opacity: 1;
    -webkit-transform: translateY(calc(100% - 90px));
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-down-drawer {
  0% {
    opacity: 1;
    -webkit-transform: translateY(calc(100% - 318px + 90px));
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    display: none;
  }
}
.baseBtn {
  width: 100%;
  color: var(--clrAccent-30);
  background: transparent;
  border: 1px solid var(--clrAccent-30);
  border-radius: 8px;
  padding: 16px 0;
  cursor: pointer;
  transition: scale 150ms ease-in-out;
  display: grid;
  place-content: center;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.baseBtn:active {
  transform: scale(0.98);
}
.baseBtn:disabled {
  cursor: default;
  pointer-events: none;
}
.baseBtn.deleteBtn {
  background: none;
  color: #d84848;
  border: 1px solid #d84848;
}

.thinBtn {
  width: 100%;
  color: var(--clrAccent-30);
  background: transparent;
  border: 1px solid var(--clrAccent-30);
  border-radius: 8px;
  padding: 12px 0;
  cursor: pointer;
  transition: scale 150ms ease-in-out;
  display: grid;
  place-content: center;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 840px) {
  .thinBtn {
    padding: 8px 0;
  }
}
.thinBtn:active {
  transform: scale(0.98);
}
.thinBtn:disabled {
  cursor: default;
  pointer-events: none;
}
.thinBtn.deleteBtn {
  background: none;
  color: #d84848;
  border: 1px solid #d84848;
}/*# sourceMappingURL=button.module.css.map */