@import '../../styles/imports';

.weatherCont {
    padding: 8px 0 0 0;
    @include displayFlex(column, center, space-evenly, 16px);
    width: 100%;
    max-width: 520px;
    color: var(--clrAccent-60);
    transition: all 200ms ease-in-out;

    @media (max-width: $mobile) {
        margin-top: 0;
        border-radius: 0 0 $borderRadiusNormal $borderRadiusNormal;
        padding: 8px 4px 0 4px;
        border: none;
        background-color: transparent;
    }

    &.weatherVisible {
        animation: slide-down-drawer 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms backwards;
        transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
        gap: 8px;
    }

    &.weatherNotVisible {
        padding: 0;

        .error {
            display: none;
        }
    }
    
    .error {
        padding-top: 16px;
    } 

    .weather {
        @include displayFlex(row, center, space-between, 16px);
        width: 100%;
        max-width: 520px;
        color: var(--clrAccent-60);
    }
    
    .today {
        background-color: var(--clrSecondary);
        border-radius: $borderRadiusNormal;
        min-width: 70px;
        @include displayFlex(row, center, center, 0);
    }

    .weatherBtn {
        background: transparent;
        border: none;
        color: var(--clrAccent-60);
        cursor: pointer;
    }
}