html {
    color-scheme: light dark auto;
}

$white-100: #FFFFFF;
$white-60: rgba(255, 255, 255, 0.6);
$white-30: rgba(255, 255, 255, 0.3);
$white-10: rgba(255, 255, 255, 0.1);

$clrPrimary: #0A0A0A;
$clrSecondary: #111111;
$clrTertiary: #333333; 

$clrWarning: rgb(186, 114, 55);
$clrError-50: #e4bbbb;
$clrError-100: #d84848;
$clrError: red;