@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$fontFamily: "Inter", sans-serif;

$fontSizeSmall: 12px;
$fontSizeBase: 16px;
$fontSizeBig: 18px;
$fontSizeBigger: 24px;
$fontSizeLarge: 32px;