@import '../../styles/imports';

.weatherDayCont {
    color: var(--clrAccent-60);
    width: 52px;
    font-size: 12px;
    @include displayFlex(column, center, center, 2px);

    .icon {
        img {
            width: 100%;
            height: auto;
            filter: grayscale(0.6);
            max-height: 32px;
        }
    }
}