@import '../../styles/imports';

.listButtonsCont {
    @include displayFlex(row, center, space-between, 16px);
    padding: 8px 0;
    width: 100%;
    max-width: 520px;

    @media (max-width: $mobile) {
        padding: 4px 4px;
    }

    .listButton {
        border: 1px solid var(--clrTertiary);
        background-color: transparent;
        width: 50%;
        padding: 12px;
        color: var(--clrAccent-60);
        border-radius: $borderRadiusNormal;
        cursor: pointer;
        transition: all 150ms ease-in-out;

        &.active {
            background-color: var(--clrTertiary);
            // box-shadow: 0 4px 0 var(--clrTertiary);
            color: var(--clrAccent-100);
            font-weight: 600;
            width: 100%;
        }
    }
}